<div class="container" #container></div>
<div class="control" [ngClass]="{changeOrder: type == 'header'}">
  <div class="items">
      <app-button [ngClass]="{active: i == selectedIndex}" (click)="select(i)" *ngFor="let item of items;let i = index;" class="_FONT" [animation]="true">
          <object *ngIf="item.icon && item.icon == 'list'" style="width: 5vw;" data="assets/svg/list.svg" type="image/svg+xml"></object>
          <object *ngIf="item.icon && item.icon == 'grid'" style="width: 4.3vw;" data="assets/svg/grid.svg" type="image/svg+xml"></object>
          <object *ngIf="item.icon && item.icon == 'cursor'" style="width: 4.3vw;" data="assets/svg/cursor.svg" type="image/svg+xml"></object>

          {{item.title}}
      </app-button>
  </div>
  <div class="bar" [ngStyle]="{left: 0, width: 'calc(100%  / ' + items.length + ')', transform: 'translate(' + (100 * selectedIndex) + '%)'}"></div>
</div>