:host{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .container{
        flex: 1;
        position: relative;
        width: 100%;
        order: 2;
    }
    .control{
        order: 3;
        width: 100%;
        position: relative;
        box-shadow: 0 0 5vw 0 rgba(0,0,0,0.4);
        background-color: #ffffff;
        &.changeOrder{
            order: 1;
        }
        .items{
            width: 100%;
            height: 14vw;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
            position: relative;
            z-index: 1;
            app-button{
                flex: 1;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                color: #838CA3;
                text-transform: uppercase;
                font-size: 3.5vw;
                filter: grayscale(100%);
                object{
                    margin-right: 2.5vw;
                }
                &.active{
                    color: #4B4E58;
                    filter: grayscale(0);
                }
            }
        }

        .bar{
            z-index: 2;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0.7vw;
            background-color: #3880F4;
            transition: transform 200ms ease-out 0ms;
        }

    }
}