:host{
    height: 15vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    z-index: 2;
    filter: drop-shadow(0 0 2px rgba(0,0,0,0.4));
    app-button{
        width: 5.5vw;
        div{
            width: 100%;
            object{
                width: 100%;
            }
        }
    }

    .text{
        margin: 0 2vw;
        text-align: center;
        flex: 1;
        color: #ffffff;
        font-size: 4.6vw;
        text-transform: capitalize;
    }

    .user{
        margin: 0 2vw;
        flex: 1;
        display: flex;
        flex-direction: row;
        align-content: stretch;
        justify-content: flex-start;
        .info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .name{
                color: #ffffff;
                font-size: 4vw;
            }
            .status{
                color: #ffffff;
                font-size: 3vw;
                opacity: 0.5;
            }
        }
        .image{
            width: 9vw;
            height: 9vw;
            border-radius: 100%;
            position: relative;
            overflow: hidden;
            background-color: #bebebe;
            margin-right: 2vw;
            &.double{
                img:nth-child(1){
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 50%;
                }
                img:nth-child(2){
                    left: 0;
                    top: 50%;
                    width: 100%;
                    height: 50%;
                }
            }

            &.triple{
                img:nth-child(1){
                    left: 0;
                    top: 0;
                    width: 50%;
                    height: 50%;
                }
                img:nth-child(2){
                    left: 50%;
                    top: 0;
                    width: 50%;
                    height: 50%;
                }
                img:nth-child(3){
                    left: 0;
                    top: 50%;
                    width: 100%;
                    height: 50%;
                }
            }

            &.quad{
                img:nth-child(1){
                    left: 0;
                    top: 0;
                    width: 50%;
                    height: 50%;
                }
                img:nth-child(2){
                    left: 50%;
                    top: 0;
                    width: 50%;
                    height: 50%;
                }
                img:nth-child(3){
                    left: 0;
                    top: 50%;
                    width: 50%;
                    height: 50%;
                }
                img:nth-child(4){
                    left: 50%;
                    top: 50%;
                    width: 50%;
                    height: 50%;
                }
            }
            img{
                object-fit: cover;
                object-position: center;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}