<app-view title="Discover" header="menu-filter-discover">
  <app-tabs>
      <app-tab icon="grid" title="grid">
          <div class="grid">
              <app-card-person *ngFor="let item of items" [routerLink]="['/private/profile/' + item.perfil.token]" [compact]="true" [avatar]="item.avatar" [cover]="item.cover" [name]="item.nome" [type]="item.tipo.id" [rating]="item.rating" [views]="item.visualizacoes" [likes]="item.likes"></app-card-person>
          </div>
      </app-tab>
      <app-tab icon="list" title="list">
        <div class="list">
          <app-card-person *ngFor="let item of items" [routerLink]="['/private/profile/' + item.perfil.token]" [avatar]="item.avatar" [cover]="item.cover" [name]="item.nome" [type]="item.tipo.id" [rating]="item.rating" [views]="item.visualizacoes" [likes]="item.likes"></app-card-person>
        </div>
      </app-tab>
  </app-tabs>
</app-view>

