.container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #387ff2;
    &.changebg{
        background-color: #fafbfb;
        .bg{
            filter: invert(1);
            opacity: 0.03;
        }
        .menu{
            .items{
                .item{
                    p{
                        color: #838CA3;
                        opacity: 1;
                        &::before{
                            border: solid 0.5vw #838CA3;
                            opacity: 0.5;
                        }
                    }
                }
            }

            .user{
                .info{
                    .name{
                        color: #838CA3;
                    }
                    .type{
                        color: #838CA3;
                        opacity: 0.7;
                    }
                }
            }

            .logout{

                object{
                    filter: invert(0.8);
                    opacity: 1;
                }
                p{
                    color: #838CA3;
                    opacity: 1;
                }
            }
        }

    }
    &.active{
        .content{
            transform: scale(0.75) translateZ(0);
        }
    }
    .bg{
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-50%,-8%);
        width: 160vw;
        opacity: 0.08;
    }
    .menu{
        transform: translate3d(0, 0, 0);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 20vw 6vw 10vw 6vw;

        .items{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;  
            width: 100%;
            padding-left: 4vw;
            flex: 1;
            margin: 9vw 0;
            .item{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                text-transform: uppercase;
                span{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    border-radius: 100%;
                    width: 8vw;
                    height: 8vw;
                    font-size: 3vw;
                    margin-left: 5vw;
                    color: #ffffff;
                    background-color: #ff4338;
                }
                p{
                    opacity: 0.45;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    text-transform: uppercase;
                    font-size: 3.4vw;
                    color: #ffffff;
                    &::before{
                        content: "";
                        display: block;
                        border-radius: 100%;
                        width: 3.5vw;
                        height: 3.5vw;
                        border: solid 0.5vw #ffffff;
                        margin-right: 5vw;
                    }
                }

                &.active{
                    p{
                        opacity: 1;
                    }
                }
            }
        }

        .user{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
   
            .image{
                height: 11vw;
                width: 11vw;
                background-color: #bebebe;
                border-radius: 100%;
                margin-right: 3vw;
                position: relative;
                object{
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    width: 5.5vw;
                    z-index: 2;
                }
                img{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 100%;
                }
            }

            .info{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .name{
                    font-size: 4.5vw;
                    margin-bottom: 0.3vw;
                    color: #ffffff;
                }
                .type{
                    font-size: 2.7vw;
                    color: #ffffff;
                    text-transform: uppercase;
                    opacity: 0.45;
                }
            }
        }

        .logout{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 2.5vw;
            object{
                width: 7.5vw;
                margin-right: 5vw;
            }
            p{
                text-transform: uppercase;
                font-size: 3.8vw;
                color: #ffffff;
                opacity: 0.45;
            }
        }
    }

    .content{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-color: #ffffff;
        transition: transform 100ms ease-out 0ms;
        transform: scale(1) translateZ(0);
        transform-origin: 300% 50%;
        .close{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
        .router{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }

}