<div class="container" *ngIf="data" [ngClass]="{active: menuService.isOpen, changebg: data.tipo.id == 1 || data.tipo.id == 4 }">
  <object class="bg" data="assets/svg/icon.svg" type="image/svg+xml"></object>
  <div class="menu">
    <div *ngIf="data" class="user" (click)="goTo('/private/profile/' + data.perfil.token)">
      <div class="image">
        <object data="assets/svg/config.svg" type="image/svg+xml"></object>
        <img *ngIf="data.avatar" [src]="data.avatar" onError="this.style.opacity = 0" />
      </div>
      <div class="info">
        <p class="name _FONT">{{data.apelido}}</p>
        <p class="type _FONT">{{  {'1': 'artista','2': 'organizador','3': 'modelo', '4': 'agente', '5': 'Prestador'}[data.tipo.id]  }}</p>
      </div>
    </div>
    <div class="items">
      <app-button (click)="goTo(item.url)" class="item _FONT" *ngFor="let item of items">
        <p>{{item.name}}</p>
        <span class="_FONT" *ngIf="item.notifications > 0">{{item.notifications}}</span>
      </app-button>
    </div>
    <app-button class="logout" (click)="logout()">
      <object data="assets/svg/door.svg" type="image/svg+xml"></object>
      <p class="_FONT">encerrar sessão</p>
    </app-button>

  </div>


  <div class="content">
    <div class="close" *ngIf="menuService.isOpen" (click)="menuService.close()"></div>
    <div class="router">
      <router-outlet></router-outlet>
    </div>
  </div>


</div>