:host{
    width: 100%;
    app-button{
        width: 9vw;
        height: 9vw;
        border-radius: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        &.grey{
            background-color: #838CA3;
        }
        &.red{
            background-color: #FF4338;
        }
        object{
            width: 40%;
            margin: 0 auto;
        }
    }
    .container{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        &.compact{
            align-items: center;
            justify-content: center;
            .buttons{
                margin: 0;
                app-button{
                    margin-bottom: 0;
                }
            }
            .image{
                width: 25vw;
                height: 25vw;
                flex: none;
                border-radius: 100%;
                margin: 0 6vw;
                object{
                    width: 10vw;
                }
            }
        }
        .image{
            flex: 1;
            height: 42vw;
            position: relative;
            background-color: #EDEFF1;
            border-radius: 3vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            object{
                width: 10vw;
                position: relative;
                z-index: 1;
            }
            img{
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                position: absolute;
                z-index: 2;
                object-fit: cover;
                object-position: center;  
            }
            input{
                opacity: 0;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                position: absolute;
                z-index: 5;
            }
        }

        .buttons{
            margin-left: 5vw;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            app-button{
                margin-bottom: 5vw;
            }
        }
    }
}