<div class="container" [ngClass]="type">
    <app-button class="red" *ngIf="type == 'compact'" (click)="clear()">
        <object data="assets/svg/clear_x.svg" type="image/svg+xml"></object>
      </app-button>
    <div class="image">
        <object data="assets/svg/photo.svg" type="image/svg+xml"></object>
        <img [src]="preview" *ngIf="preview"/>
      <input #input type="file" accept="image/*">
    </div>
    <div class="buttons">
      <app-button class="grey" (click)="change()">
        <object data="assets/svg/clips.svg" type="image/svg+xml"></object>
      </app-button>
      <app-button class="red" *ngIf="type == 'full'" (click)="clear()">
        <object data="assets/svg/clear_x.svg" type="image/svg+xml"></object>
      </app-button>
    </div>
</div>