<div class="container" [ngClass]="{compact: compact}">
  <div class="header">
    <div class="img">
        <img [src]="cover" onError="this.style.opacity = 0"/>
    </div>
    <div class="icons">
      <object data="assets/svg/camera.svg" type="image/svg+xml"></object>
      <object data="assets/svg/heart.svg" type="image/svg+xml"></object>
    </div>
  </div>
  <app-user-info [compact]="compact" [avatar]="avatar" [name]="name" [type]="type" [rating]="rating" [views]="views" [likes]="likes"></app-user-info>
</div>