.container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.events{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 76vw;
    width: 100%;
    .msg{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        flex: 1;
        p{
            color: #ffffff;
            font-size: 5vw;
            line-height: 1.3;
            font-weight: 500;
            margin-bottom: 3.5vw;
            text-align: center;
        }
        app-button{
            width: 50vw;
            height: 13vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            font-size: 3vw;
            border-radius: 10vw;
        }
    }

    .items{
        width: 100%;
        flex: 1;
        padding: 5vw;
        transition: opacity 250ms ease-out 0ms;
        opacity: 0;
        &.loaded{
            opacity: 1;
        }
        app-card-event{
            width: 90vw;
            &:not(:last-child){
                margin-right: 3vw;
            }
        }
    }

    .button{
        width: 100%;
        padding: 3vw 5vw;
        background-color: #FAFBFB;
        position: relative;
        app-button{
            width: 100%;
            height: 12vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            border: solid 1px #E6E6E6;
            font-size: 3vw;
            border-radius: 10vw;
        }
    }
}

.content{
    flex: 1;
    background-color: #FAFBFB;
    position: relative;
    width: 100%;
    app-content{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        transition: opacity 250ms ease-out 0ms, transform 200ms ease-out 0ms;
        transform: translate(0,30%);
        opacity: 0;
        &.loaded{
            transform: translate(0,0);
            opacity: 1;
        }
      
    
        .container{
            padding: 5vw;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            .title{
                font-size: 5.8vw;
                color: #4B4E58;
                font-weight: 500;
                margin-bottom: 2vw;
            }
            .items{
                flex: 1;
                width: 100%;
                max-height: 50vw;
                app-card-user:not(:last-child){
                    margin-right: 3vw;
                }
            }
        }
    }
}


