<app-view title="" header="menu" [content]="false">
  <div class="container">
    <div class="events">
      <div class="items" *ngIf="events.length > 0"
        [carousel]="{cellAlign: 'left',pageDots: false,prevNextButtons: false,setGallerySize: false,percentPosition: true,contain: true,freeScroll: false}"  [ngClass]="{loaded: !loaderUsers}">
        <app-card-event carouselItem></app-card-event>
        <app-card-event carouselItem></app-card-event>
        <app-card-event carouselItem></app-card-event>
      </div>
      <div class="msg" *ngIf="events.length < 1">
        <p class="_FONT">Ainda não há nenhum evento criado, deseja criar um evento?</p>
        <app-button [animation]="true" class="_FONT">ADICIONAR EVENTO</app-button>
      </div>

      <div class="button" *ngIf="events.length > 0">
        <app-button [animation]="true" class="_FONT" [routerLink]="['/private/self-events']">MEUS EVENTOS</app-button>
      </div>
    </div>
    <div class="content">
      <app-content [ngClass]="{loaded: !loaderUsers}">
        <div class="container">
          <p class="title _FONT">Artistas destaques</p>
          <div class="items"
            [carousel]="{cellAlign: 'left',pageDots: false,prevNextButtons: false,setGallerySize: false,percentPosition: true,contain: true,freeScroll: false}">
            <app-card-user [routerLink]="['/private/profile/' + user.perfil.token]" *ngFor="let user of users"
              [name]="user.nome" [avatar]="user.avatar" [type]="user.tipo.id" carouselItem></app-card-user>
          </div>
        </div>
      </app-content>
    </div>
  </div>
</app-view>