<app-view title="Login">
  <app-form (send)="send($event)" (valid)="valid = true" (invalid)="valid = false" [disabled]="disabled">
    <app-fieldset title="Personal date">
      <app-input [value]="'testeSilva2@gmail.com'" name="email" placeholder="E-mail" type="text"></app-input>
      <app-input [value]="123456789" name="password" placeholder="Password" type="password"></app-input>
    </app-fieldset>
    <app-button type="submit" [animation]="true" class="_FONT" [ngClass]="{disabled: !valid}">login</app-button>
  </app-form>
</app-view>