<app-button [animation]="true">
    <div class="image">
        <div class="img" [ngClass]="{double: avatares.length == 2, triple: avatares.length == 3, quad: avatares.length > 3}">
          <img *ngFor="let avatar of avatares" [src]="avatar"/>
        </div>
      </div>
      <div class="content">
        <div class="names">
          <div class="name _FONT">{{names}}</div>
          <!-- <div class="organizer _FONT">{{{'1': 'artista','2': 'organizador','3': 'modelo', '4': 'agente', '5': 'Prestador'}[type]}}</div> -->
        </div>
        <div class="text _FONT">{{chat.lastMessage ? chat.lastMessage.text : ''}}</div>
      </div>
      <div class="info">
        <div class="date _FONT">{{ (chat.lastMessage ? chat.lastMessage.time : null) | date : 'dd/MM/yy'}}</div>
        <div class="notifications _FONT" *ngIf="chat.unread">{{chat.unread}}</div>
      </div>
</app-button>


