:host{
    width: 100%;
    app-button{
        height: 28vw;
        width: 100%;
        box-shadow: 0 0 2vw 0 rgba(0,0,0,0.3);
        border-radius: 1vw;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        background-color: #ffffff;
        padding: 4vw;
    
        .image{
            width: 11vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
            .img{
                width: 100%;
                height: 11vw;
                border-radius: 100%;
                box-shadow: 0 0 0 1vw #ffffff;
                position: relative;
                background-color: #bebebe;
                overflow: hidden;
                // &:after{
                //     content: "";
                //     background-color: #838CA3;
                //     width: 2.6vw;
                //     height: 2.6vw;
                //     border-radius: 100%;
                //     position: absolute;
                //     z-index: 2;
                //     left: 75%;
                //     bottom: 5%;
                //     box-shadow: 0 0 0 0.6vw #ffffff;
                // }
                &.double{
                    img:nth-child(1){
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 50%;
                    }
                    img:nth-child(2){
                        left: 0;
                        top: 50%;
                        width: 100%;
                        height: 50%;
                    }
                }
    
                &.triple{
                    img:nth-child(1){
                        left: 0;
                        top: 0;
                        width: 50%;
                        height: 50%;
                    }
                    img:nth-child(2){
                        left: 50%;
                        top: 0;
                        width: 50%;
                        height: 50%;
                    }
                    img:nth-child(3){
                        left: 0;
                        top: 50%;
                        width: 100%;
                        height: 50%;
                    }
                }
    
                &.quad{
                    img:nth-child(1){
                        left: 0;
                        top: 0;
                        width: 50%;
                        height: 50%;
                    }
                    img:nth-child(2){
                        left: 50%;
                        top: 0;
                        width: 50%;
                        height: 50%;
                    }
                    img:nth-child(3){
                        left: 0;
                        top: 50%;
                        width: 50%;
                        height: 50%;
                    }
                    img:nth-child(4){
                        left: 50%;
                        top: 50%;
                        width: 50%;
                        height: 50%;
                    }
                }
                img{
                    object-fit: cover;
                    object-position: center;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    
        .content{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 0 1.5vw;
            padding-top: 3vw;
            .names{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                .name{
                    font-weight: 500;
                    font-size: 4.2vw;
                    color: #4B4E58;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 52vw;
                }
                .organizer{
                    font-weight: 500;
                    font-size: 2.6vw;
                    text-transform: uppercase;
                    color: #3880F4;
                    margin-bottom: -0.5vw;
                }
            }
    
            .text{
                margin-top: 2vw;
                width: 100%;
                // white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 3vw;
                color: #838CA3;
            }
        }
    
        .info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            .date{
                color: #C1C5C7;
                font-size: 3.4vw;
            }
    
            .notifications{
                width: 6vw;
                height: 6vw;
                background-color: #FF4338;
                color: #ffffff;
                font-size: 2.8vw;
                font-weight: 500;
                border-radius: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
