.container{
    position: absolute;
    left: 0;
    top: -15vw;
    width: 100%;
    height: calc(100% + 15vw);
    overflow-y: scroll;
    &.scrolled{
        .cover img{
            opacity: 0!important;
        }
    }
    .cover{
        position: absolute;
        height: 45%;
        left: 0;
        width: 100%;
        top: -15vw;
        img{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            opacity: 0;
            transition: opacity 500ms ease-out 0ms;
            &.show{
                opacity: 1;
            }
        }
    }
    app-content{
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;
        height: calc(100% - 15vw);
        z-index: 2;
        transition: transform 200ms ease-out 0ms, opacity  200ms ease-out 0ms;
        &.hide{
            transform: translate(0, 40%);
            opacity: 0;
        }
        .content{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            overflow-y: scroll;
        
        
            app-button{
                position: absolute;
                z-index: 4;
                right: 5vw;
                top: 5vw;
                width: 7vw;
                object{
                    width: 100%;
                }
            }
        
            app-user-info{
                position: relative;
                z-index: 2;
                box-shadow: 0 0 5vw 0 rgba(0,0,0,0.15);
            }
        
            .tabs{
                z-index: 1;
                flex: 1;
                position: relative;
                width: 100%;
            }
        }
    }

}

.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #00D664;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    app-button{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        height: 15vw;
        .icon{
            width: 6.2vw;
            height: 6.2vw;
            margin-bottom: 1vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            object{
                width: 100%;
            }
        }

        p{
            color: #ffffff;
            font-size: 3vw;
        }
    }
}