<app-view title="Profile" [header]=" loader ? null : (self ? 'menu-settings' : 'basic')" [content]="false">
  <div class="container" (scroll)="scroll($event)" [ngClass]="{scrolled: scrolled}">
    <div class="cover" *ngIf="data">
      <img *ngIf="data.cover" (load)="showCover = true;" [src]="data.cover" [ngClass]="{show: showCover}" />
    </div>
    <app-content [ngClass]="{hide: loader}">
      <div class="content" *ngIf="data">
        <app-button (click)="updateProfile()" *ngIf="self">
          <object data="assets/svg/settings.svg" type="image/svg+xml"></object>
        </app-button>
        <app-user-info [avatar]="data.avatar" [type]="data.id_tipo" [name]="data.nome" [rating]="data.rating"
          [views]="data.visualizacoes" [likes]="data.likes"></app-user-info>
        <div class="tabs">
          <app-tabs type="header">
            <app-tab title="info"></app-tab>
            <app-tab title="multimedia"></app-tab>
          </app-tabs>
        </div>
      </div>
    </app-content>
  </div>
</app-view>
<div class="footer" *ngIf="!loader && !self">
  <app-button [animation]="true">
    <div class="icon">
      <object data="assets/svg/calendar.svg"></object>
    </div>
    <p class="_FONT">Availability</p>
  </app-button>
  <app-button [animation]="true" (click)="initChat(data.id_cliente)">
    <div class="icon">
      <object data="assets/svg/chat.svg"></object>
    </div>
    <p class="_FONT">chat</p>
  </app-button>
  <app-button [animation]="true">
    <div class="icon">
      <object data="assets/svg/more.svg"></object>
    </div>
    <p class="_FONT">more</p>
  </app-button>
</div>