<app-view title="Create a Free Account">
  <app-form (send)="send($event)" (valid)="valid = true" (invalid)="valid = false" [disabled]="disabled">
    <app-fieldset title="User profile">
      <app-radio name="id_tipo"
        [options]="[{text: 'Artist', value: 1}, {text: 'Services', value: 5}, {text: 'Model', value: 3}, {text: 'Agents', value: 4}, {text: 'Host', value: 2}, {text: 'Private', value: 6}]">
      </app-radio>
    </app-fieldset>
    <app-fieldset title="Personal date">
      <app-input name="nome" placeholder="Name" type="text"></app-input>
      <app-input name="apelido" placeholder="Surname" type="text"></app-input>
      <app-input name="email" placeholder="E-mail" type="text"></app-input>
      <app-input name="telemovel" placeholder="Telemovel" type="number"></app-input>
      <app-input name="password" placeholder="Password" type="password"></app-input>
      <app-input name="password_confirmation" placeholder="Password Confirm" type="password"></app-input>
      <app-input name="code" placeholder="Invite code (optional)" type="text"></app-input>
      <app-input name="newsletter" placeholder="Subscribe to our newsletter" type="checkbox"></app-input>

      <p class="text _FONT">Nullam eu volutpat nisi. Mauris ultrices augue mauris, ac efficitur risus auctor et. Maecenas <span>Terms and conditions</span> dolor tempor efficitur <span>Privacy Police.</span></p>

    </app-fieldset>
    <app-button type="submit" [animation]="true" class="_FONT" [ngClass]="{disabled: !valid}">free register</app-button>
  </app-form>
</app-view>