:host{
    width: 100%;
    display: block;
    .container{
        height: 12vw;
        padding: 0 5vw;
        font-size: 3.6vw;
        background-color: #EDEFF1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        color: #838CA3;
    }
}