:host{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    pointer-events: none;
    &.open{
        .container{
            pointer-events: auto;
            .bg{
                opacity: 1;
            }
        }
    }

    .container{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        & > *:not(.bg){
            z-index: 2;
        }

        .bg{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.7);
            transition: opacity 200ms ease-out 0ms;
            opacity: 0;
            z-index: 1;
        }

        .header{
            width: 100%;
            height: 13vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: relative;
            padding: 0 5vw;
            box-shadow: 0 0 3vw 0 rgba(0,0,0,0.1);
            z-index: 2;
            div{
                flex: 0.6;
                display: flex;
                flex-direction: row;
                align-items: center;
                .title{
                    flex: 1;
                    text-align: center;
                    font-size: 4vw;
                    color: #4B4E58;
                    font-weight: 500;
                }
                app-button{
                    width: auto;
                    color: #FF4338;
                    font-size: 3vw;
                    object{
                        width: 7.5vw;
                    }
                }

                &:first-child{
                    flex: 0.2;
                    justify-content: flex-start;
                }
                &:last-child{
                    flex: 0.2;
                    justify-content: flex-end;
                }
            }

        }

        .zoom{
            transition: opacity 250ms ease-out 0ms;
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,1);
            &.active{
                opacity: 1;
            }
            .items{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                .item{
                    width: 100%;
                    height: 100%;
                    app-img{
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                    }

                }
            }
        }

        .list{
            transition: opacity 250ms ease-out 0ms, transform 200ms ease-out 0ms;
            transform: translate(0,30%);
            opacity: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: calc(50% - 15vw);
            &.active{
                transform: translate(0,0);
                opacity: 1;
            }
            .list_content{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                .scroll{
                    flex: 1;
                    width: 100%;
                    overflow-x: hidden;
                    overflow-y: auto;
                    padding: 1vw 0;
                    app-button{
                        width: 100%;
                        height: 14vw;
                        color: #4B4E58;
                        border-bottom: solid 1px #EDEFF1;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;
                        padding: 0 5vw;
                        font-size: 4vw;
                    }

                }

            }
        }


        .form{
            transition: opacity 250ms ease-out 0ms, transform 200ms ease-out 0ms;
            transform: translate(0,30%);
            opacity: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: calc(100% - 15vw);
            &.active{
                transform: translate(0,0);
                opacity: 1;
            }

            .form_content{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                .scroll{
                    flex: 1;
                    width: 100%;
                    overflow-y: scroll;
                    position: relative;
                    app-form{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        min-height: 100%;
                        justify-content: space-between;
                        position: relative;
                        z-index: 1;
                        .disabled{
                            opacity: 0.6;
                            pointer-events: none;
                        }
                        
                        app-button{
                            width: 100%;
                            height: 13vw;
                            font-size: 2.8vw;
                            text-transform: uppercase;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            background-color: #00D664;
                            color: #ffffff;
                            margin-top: 6vw;
                        }
                    
                        .text{
                            margin-top: 4vw;
                            width: 100%;
                            text-align: left;
                            font-size: 3.3vw;
                            line-height: 1.3;
                            color: #838CA3;
                            span{
                                color: #3880F4;
                            }
                        }
                    
                    }
                }
                
            }
        }
    }
}