:host{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    .container{
        position: relative;
        width: calc(85vw / 3);
        height: calc(85vw / 3);
        margin-bottom: calc(5vw / 2);
        &:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3){
            margin-bottom: 0;
        }

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: solid 1px #EDEFF1;
        border-radius: 1.8vw;

        &.active{
            .content{
                background-color: #3880F4;
                object{
                    opacity: 1;
                }
            }
        }

        .content{
            position: relative;
            height: 7vw;
            width: 7vw;
            border: solid 1px #EDEFF1;
            border-radius: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            object{
                width: 3vw;
               opacity: 0;
            }
        }
        .text{
            font-size: 3.2vw;
            position: absolute;
            left: 0;
            width: 100%;
            bottom: 3vw;
            text-align: center;
            padding: 0 1vw;
            color: #4B4E58;
        }
        input{
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 2;
        }
    }
}

