<div class="container" (click)="value = option.value" *ngFor="let option of options" [ngClass]="{active: value == option.value}">
  <div class="content">
      <object data="assets/svg/check.svg" type="image/svg+xml"></object>
  </div>
  <div class="text _FONT">{{option.text}}</div>
</div>