:host{
    width: 18vw;
    display: block;
    .container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-right: 5vw;
        width: 100%;
        .img{
            width: 18vw;
            height: 18vw;
            border-radius: 100%;
            box-shadow: 0 0 0 1vw #ffffff;
            position: relative;
            overflow: hidden;
            background-color: #bebebe;
            img{
                object-fit: cover;
                object-position: center;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }
        .type{
            border-radius: 3vw;
            width: 100%;
            height: 6vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            font-size: 3vw;
            text-transform: capitalize;
            background-color: #3880F4;
            margin-top: -2vw;
            position: relative;
            z-index: 2;
        }
    }
}
