<div class="container">
  <div class="img">
    <img *ngIf="avatar" [src]="avatar" onError="this.style.opacity = 0" />
  </div>
  <p class="type _FONT">{{ {'1': 'artista','2': 'organizador','3': 'modelo', '4': 'agente', '5': 'Prestador'}[type] }}</p>
</div>