<div class="container" [ngClass]="{disabled: disabled}">
    <div class="content" [ngClass]="{active: focus || value}" *ngIf="type !== 'checkbox' && type !== 'select'">
        <p class="placeholder _FONT">{{placeholder}}</p>
        <input [type]="type" (focus)="focus = true" (blur)="focus = false" class="_FONT" [(ngModel)]="value">
        <div class="clear" (click)="value = ''" *ngIf="value">
            <object data="assets/svg/x.svg" type="image/svg+xml"></object>
        </div>
    </div>

    <div class="content" *ngIf="type === 'checkbox'">
        <input [type]="type" (change)="value = $event.target.checked" [checked]="value">
        <div class="checkbox" [ngClass]="{active: value}">
            <div class="check">
                <object data="assets/svg/check.svg" type="image/svg+xml"></object>
            </div>
            <p class="text _FONT">{{placeholder}}</p>
        </div>

    </div>

    <div class="content" [ngClass]="{active: focus || value}" *ngIf="type == 'select'">
        <p class="placeholder _FONT">{{placeholder}}</p>
        <select class="_FONT" [(ngModel)]="value">
            <option [ngValue]="option.value" *ngFor="let option of _options">{{option.text}}</option>
        </select>
        <div class="dots" *ngIf="!value">
            <object data="assets/svg/select_dots.svg" type="image/svg+xml"></object>
        </div>
        <div class="clear" (click)="value = ''" *ngIf="value">
                <object data="assets/svg/x.svg" type="image/svg+xml"></object>
            </div>
    </div>
</div>