<div class="container" [ngClass]="{compact: compact}">
  <app-user-image [type]="type" [avatar]="avatar"></app-user-image>
  <div class="info">
    <p class="name _FONT">{{name}}</p>
    <div class="location">
      <object data="assets/svg/location.svg" type="image/svg+xml"></object>
      <p class="_FONT">Sao paulo, Brazil</p>
    </div>
    <div class="status">
      <div class="item">
        <object data="assets/svg/star.svg" type="image/svg+xml"></object>
        <p class="value _FONT">{{ratingEdit(rating)}}</p>
      </div>
      <div class="item">
        <object data="assets/svg/eye.svg" type="image/svg+xml"></object>
        <p class="value _FONT">{{views}}</p>
      </div>
      <div class="item">
        <object data="assets/svg/heart_fill.svg" type="image/svg+xml"></object>
        <p class="value _FONT">{{likes}}</p>
      </div>
    </div>
  </div>
</div>