:host{
    display: block;
    width: 100%;
    transform: translateZ(0);
    .container{
        width: 100%;
        background-color: #ffffff;
        padding: 5vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 33vw;
    
        &.compact{
            flex-direction: column;
            height: 44vw;
            app-user-image{
                margin: -16vw 0 2.5vw 0;
            }
            .info{
                align-items: center;
                width: 100%;
                .name{
                    font-size: 5vw;
                    text-align: center;
                }
                .location{
                    p{
                        font-size: 3vw;
                    }
                }
                .status{
                    align-items: flex-end;
                    .item{
                        flex-direction: column;
                        align-items: center;
                        flex: none;
                        margin: 0 2vw;
                        object{
                            margin: 0 0 1vw 0;
                        }
                    }
                }
            }
        }
    
        app-user-image{
            margin-right: 5vw;
        }
    
        .info{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
    
            .name{
                font-size: 5.4vw;
                color: #4B4E58;
                font-weight: 500;
                white-space: nowrap;
                width: 100%;
                text-align: left;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .location{
                margin: 1vw 0 2vw 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                object{
                    width: 3.2vw;
                    margin-right: 2.5vw;
                }
                p{
                    font-size: 3.4vw;
                    color: #838CA3;
                }
            }
            justify-content: center;
            .status{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .item{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    flex: 1;
                    object{
                        object-fit: contain;
                        height: 4vw;
                        width: 6vw;
                        margin-right: 1.5vw;
                    }
                    .value{
                        font-size: 3.8vw;
                        color: #3880F4;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
