:host{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .container{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
