:host{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #3880f4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    box-shadow: 0 0 3vw 0 rgba(0, 0, 0, 0.7);
    app-content{
        flex: 1;
    }

}