:host{
    position: relative;
    img{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        &.contain{
            object-fit: contain;

        }
    }   
}