:host{
    width: 100%;
    height: 100%;
    overflow: hidden;
    .container{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow-x: hidden;
        overflow-y: auto;
    }
}