<div class="container">
  <section class="banners">
    <div class="dots">
      <div class="dot" [ngClass]="{active: selectedIndex == i}" *ngFor="let item of items;let i  = index"
        (click)="select(i)"></div>
    </div>
    <div class="carousel" #carousel
      [carousel]="{cellAlign: 'center', pageDots: false, prevNextButtons: false, setGallerySize: false, percentPosition: true, contain: true, freeScroll: false}">
      <div *ngFor="let item of items" class="banner" carouselItem
        [ngStyle]="{'background-image': 'url(' + item.image + ')', 'background-color': item.color}">
        <object class="logo" data="assets/svg/logo.svg" type="image/svg+xml"></object>
        <div class="text">
          <p class="title _FONT">Clap <span>your</span> talent</p>
          <p class="sub _FONT">From Portugal to the world.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="loginWith">
      <app-button [animation]="true" class="button face">
        <div>
          <object data="assets/svg/face.svg" type="image/svg+xml"></object>
          <p class="_FONT">Login with Facebook</p>
        </div>
      </app-button>
      <app-button [animation]="true" class="button google">
        <div>
          <object data="assets/svg/google.svg" type="image/svg+xml"></object>
          <p class="_FONT">Login with Google</p>
        </div>
      </app-button>
    </div>
    <div class="buttons">
      <app-button [animation]="true" [routerLink]="['/public/register']" class="_FONT">sing up</app-button>
      <div class="line"></div>
      <app-button [animation]="true" [routerLink]="['/public/login']" class="_FONT">login</app-button>
    </div>
  </section>
</div>