.container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .banners{
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        .dots{
            bottom: 5vh;
            left: 0;
            position: absolute;
            z-index: 2;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            .dot{
                height: 2.2vw;
                width: 2.2vw;
                background-color: #ffffff;
                opacity: 0.5;
                border-radius: 100%;
                margin-right: 2.5vw;
                &:last-child{
                    margin-right: 0;
                }
                &.active{
                    opacity: 1;
                }
            }
        }
        .carousel{
            flex: 1;
            width: 100%;
            position: relative;
            overflow: hidden;
            z-index: 1;
            .banner{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                position: relative;
                background-size: cover;
                background-position: center;
                padding: 10vh 2vw;
                &::after{
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: inherit;
                    opacity: 0.65;
                    z-index: 1;
                }
                .logo{
                    width: 27vw;
                    position: relative;
                    z-index: 2;
                }
                .text{
                    position: relative;
                    z-index: 2;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    filter: drop-shadow(0 0 3px rgba(0,0,0,0.3));
                    .title{
                        font-size: 7vw;
                        color: #ffffff;
                        margin-bottom: 3.2vw;
                        span{
                            color: #00ce60;
                        }
                    }
                    .sub{
                        color: #ffffff;
                        font-size: 3.7vw;
                    }
                }
            }
        }
    }
    .content{
        padding: 6vw;
        .loginWith{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            .button{
                border-radius: 7vw;
                width: 100%;
                border: solid 1px #e7e6e6;
                margin-bottom: 4vw;
                &:last-child{
                    margin-bottom: 0;
                }
                object{
                    height: 6vw;
                    margin-right: 5.5vw;
                }

                div{
                    height: 13vw;
                    width: 60%;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    p{
                        font-size: 3.5vw;
                    }
                }

                &.face{
                    background-color: #3b5999;
                    p{
                        color: #ffffff;
                    }
                }

                &.google{
                    background-color: #ffffff;
                    p{
                        color: #666666;
                    }
                }
            }
        }
        .buttons{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: 6vw;
            .line{
                height: 9vw;
                width: 1px;
                background-color: #e7e6e6;
            }
            app-button{
                height: 9vw;
                flex: 1;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                font-size: 3.6vw;
                text-transform: uppercase;
                color: #666666;
            }
        }
    }
}