app-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
    app-button{
        width: 100%;
        height: 13vw;
        font-size: 2.8vw;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #00D664;
        color: #ffffff;
        margin-top: 6vw;
    }

    .text{
        margin-top: 4vw;
        width: 100%;
        text-align: left;
        font-size: 3.3vw;
        line-height: 1.3;
        color: #838CA3;
        span{
            color: #3880F4;
        }
    }

}