<app-view title="Events" header="menu">
  <app-tabs>
      <app-tab icon="cursor" title="map">
        <app-map [markers]="markers"></app-map>
      </app-tab>
      <app-tab icon="list" title="list">
        <div class="list">
          <app-card-event [compact]="true"></app-card-event>
          <app-card-event [compact]="true"></app-card-event>
          <app-card-event [compact]="true"></app-card-event>
        </div>
      </app-tab>
  </app-tabs>
</app-view>