<app-user-image [avatar]="avatar" [type]="type"></app-user-image>
<div class="container">
        <div class="name _FONT">{{name}}</div>
        <div class="location">
            <object data="assets/svg/location.svg" type="image/svg+xml"></object>
            <p class="_FONT">Sao paulo, Brazil</p>
        </div>
</div>
