:host{
    height: 100%;
    width: 42vw;
    box-shadow: 0 0 2vw 0 rgba(0,0,0,0.3);
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 2vw;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .name{
            font-size: 4vw;
            color: #4B4E58;
            font-weight: 500;
        }
        .location{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            object{
                width: 3.2vw;
                margin-right: 2.5vw;
            }
            p{
                font-size: 3.4vw;
                color: #838CA3;
            }
        }
    }

}