<app-view title="Conversas" header="menu">
    <app-tabs>
        <app-tab title="business">
            <div class="list">
                <app-talk-card 
                *ngFor="let chat of chats"
                [chat]="chat"
                (click)="openChat(chat.token)"></app-talk-card>
            </div>
        </app-tab>
        <app-tab title="general"></app-tab>
        <app-tab title="archived"></app-tab>
    </app-tabs>
</app-view>