.list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5vw;
    
    app-card-event{
        margin-bottom: 3vw;
        &:last-child{
            margin-bottom: 0;
        }
    }
}

app-button{
    position: absolute;
    bottom: 20vw;
    right: 3vw;
    height: 16vw;
    width: 16vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #00D664;
    border-radius: 100%;
    box-shadow: 0 0 2vw 0 rgba(0,0,0,0.6);
    z-index: 10;
    object{
        width: 50%;
    }
}