@font-face {
    font-family: 'Avenir Next';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
      local('Avenir Next'),
      local('Avenir Next'),
      url('assets/fonts/avenir/avenir-next-regular.woff2') format('woff2'), /* Super Modern Browsers */
      url('assets/fonts/avenir/avenir-next-regular.woff') format('woff'); /* Modern Browsers */
  }
  @font-face {
    font-family: 'Avenir Next';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src:
      local('Avenir Next'),
      local('Avenir Next'),
      url('assets/fonts/avenir/avenir-next-medium.woff2') format('woff2'), /* Super Modern Browsers */
      url('assets/fonts/avenir/avenir-next-medium.woff') format('woff'); /* Modern Browsers */
  }
  @font-face {
    font-family: 'Avenir Next';
    font-style: medium;
    font-display: swap;
    font-weight: 600;
    src:
      local('Avenir Next'),
      local('Avenir Next'),
      url('assets/fonts/avenir/avenir-next-demi.woff2') format('woff2'), /* Super Modern Browsers */
      url('assets/fonts/avenir/avenir-next-demi.woff') format('woff'); /* Modern Browsers */
  }
  
  @font-face {
    font-family: 'Avenir Next';
    font-style: bold;
    font-display: swap;
    font-weight: 700;
    src:
      local('Avenir Next'),
      local('Avenir Next'),
      url('assets/fonts/avenir/avenir-next-bold.woff2') format('woff2'), /* Super Modern Browsers */
      url('assets/fonts/avenir/avenir-next-bold.woff') format('woff'); /* Modern Browsers */
  }

  ._FONT{
    font-family: 'Avenir Next';
  }


  
*,
*:before,
*::after {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    background:transparent;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    user-select: none;
    appearance: none;
    list-style:none;
    background-repeat: no-repeat;
    font-weight: inherit;
    z-index: 1;
}

section{
    width: 100%;
    position: relative;
}

img, canvas, object{
    transform: translateZ(0);
    display: block;
}

object{
    pointer-events: none;
}

a{
    display: block;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}


@keyframes enter-view{
    0%{
        transform: translate(0,100%);
        opacity: 0;
    } 
    100%{
        transform: translate(0,0);
        opacity: 1;
    } 
}

router-outlet{
    display: none!important;

    & ~ *{
        // transform: translate(0,100%);
        // opacity: 0;
        position: absolute;
        // animation: enter-view 150ms ease-out 50ms 1 forwards;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}


.flickity-viewport{
    height: 100%;
    width: 100%;
}

.flickity-enabled{
    position: relative;
}

.flickity-slider{
    height: 100%;
}

html{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    font-weight: 400;
    body{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}