:host{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 0 2vw 0 rgba(0,0,0,0.3);
    border-radius: 1vw;
    overflow: hidden;
    background-color: #FAFBFB;
    transform: translateZ(0);
    .container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        padding: 5vw;
        height: 35vw;
        .header{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .info{
                display: flex;
                flex-direction: row;
                align-content: center;
                justify-content: flex-start;
                flex: 1;
                margin-right: 2vw;
                .date{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-right: 3vw;
                    .day{
                        font-size: 5.5vw;
                        color: #3880F4;
                        font-weight: 500;
                    }
    
                    .month{
                        font-size: 3.5vw;
                        color: #3880F4;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                }
                .names{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    .name{
                        color: #4B4E58;
                        font-size: 4vw;
                        font-weight: 500;
                        margin-bottom: 1vw;
                        white-space: nowrap;
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .organizer{
                        color: #C1C5C7;
                        font-size: 3vw; 
                        white-space: nowrap;
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            .image{
                height: 15vw;
                width: 15vw;
                border-radius: 100%;
                background-color: #bebebe;
            }

        }
        .mid{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: 4vw;
            .ref{
                color: #3880F4;
                font-size: 3vw;
            }
            .location{
                margin: 1vw 0 2vw 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                object{
                    width: 3.2vw;
                    margin-right: 2.5vw;
                }
                p{
                    font-size: 3.4vw;
                    color: #838CA3;
                }
            }
        }
    }
    .footer{
        width: 100%;
        background-color: #F4F4F5;
        height: 13vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 5vw;
        .item{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            object{
                width: 4.8vw;
                margin-right: 1.5vw;
            }

            .text{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                color: #4B4E58;
                font-size: 3.5vw;
                span{
                    color: #3880F4;
                    margin-right: 1vw;
                }
            }
        }
    }
}