<div class="container">
  <div class="header">
    <div class="info">
      <div class="date">
        <div class="day _FONT">16</div>
        <div class="month _FONT">feb</div>
      </div>
      <div class="names">
        <div class="name _FONT">Baile anual de mascara</div>
        <div class="organizer _FONT">Nome do organizador</div>
      </div>
    </div>
    <div class="image">
      <img src="" />
    </div>

  </div>
  <div class="mid">
    <div class="ref _FONT">Ref: 1811011234</div>
    <div class="location">
      <object data="assets/svg/location.svg" type="image/svg+xml"></object>
      <p class="_FONT">Sao paulo, Brazil</p>
    </div>
  </div>
</div>

<div class="footer" *ngIf="!compact">
  <div class="item">
      <object data="assets/svg/page_euro.svg" type="image/svg+xml"></object>
      <div class="text _FONT"><span>02</span> items</div>
  </div>
  <div class="item">
      <object data="assets/svg/page_pencil.svg" type="image/svg+xml"></object>
      <div class="text _FONT"><span>02</span> items</div>
  </div>
  <div class="item">
      <object data="assets/svg/page_doc.svg" type="image/svg+xml"></object>
      <div class="text _FONT"><span>02</span> items</div>
  </div>
</div>